/* FONTS */
	@font-face {
		font-family:'Franks';
		src:url('../../fonts/Franks/Franks.eot');
		src:url('../../fonts/Franks/Franks.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Franks/Franks.woff2') format('woff2'),
		url('../../fonts/Franks/Franks.woff') format('woff'),
		url('../../fonts/Franks/Franks.ttf') format('truetype'),
		url('../../fonts/Franks/Franks.svg#svgFontName') format('svg');
	}
	@font-face {
		font-family:'Bebas';
		src:url('../../fonts/Bebas/Bebas.eot');
		src:url('../../fonts/Bebas/Bebas.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Bebas/Bebas.woff2') format('woff2'),
		url('../../fonts/Bebas/Bebas.woff') format('woff'),
		url('../../fonts/Bebas/Bebas.ttf') format('truetype'),
		url('../../fonts/Bebas/Bebas.svg#svgFontName') format('svg');
	}
	@font-face {
		font-family:'Quicksand';
		src:url('../../fonts/Quicksand/Quicksand.eot');
		src:url('../../fonts/Quicksand/Quicksand.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Quicksand/Quicksand.woff2') format('woff2'),
		url('../../fonts/Quicksand/Quicksand.woff') format('woff'),
		url('../../fonts/Quicksand/Quicksand.ttf') format('truetype'),
		url('../../fonts/Quicksand/Quicksand.svg#svgFontName') format('svg');
	}
/* STANDARD CSS */
	* {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-backface-visibility:hidden;
		-webkit-transition:none;
	}
	html {
		overflow-x:hidden;
		font-size:0;
	}
	body {
		overflow-x:hidden;
		margin:0;
		padding:0;
	}
	a {
		text-decoration:none;
	}
	span.anchor {
		display:block;
		height:74px;
		margin-top:-74px;
		visibility:hidden;
	}
	div.loader {
		-webkit-position:fixed;
		-moz-position:fixed;
		-o-position:fixed;
		-ms-position:fixed;
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		-webkit-z-index:9999;
		-moz-z-index:9999;
		-o-z-index:9999;
		-ms-z-index:9999;
		z-index:9999;
		background:url('../../img/loading_icon_ball.gif') 50% 50% no-repeat rgb(255,255,255);
	}
/* HOME */
	#home div.layer {
		background-color:rgb(255,255,255);
	}
	#home div.layer header {
		background-color:rgb(255,255,255);
		box-shadow:0px 0px 5px 1px rgb(55,55,55);
		-webkit-position:fixed;
		-moz-position:fixed;
		-o-position:fixed;
		-ms-position:fixed;
		position:fixed;
		width:100%;
		padding:15px;
		-webkit-z-index:9997;
		-moz-z-index:9997;
		-o-z-index:9997;
		-ms-z-index:9997;
		z-index:9997;
		-webkit-transition:background-color 0.5s linear, box-shadow 0.5s linear;
		-moz-transition:background-color 0.5s linear, box-shadow 0.5s linear;
		-o-transition:background-color 0.5s linear, box-shadow 0.5s linear;
		-ms-transition:background-color 0.5s linear, box-shadow 0.5s linear;
		transition:background-color 0.5s linear, box-shadow 0.5s linear;
	}
	#home div.layer header div.container {
		width:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
	}
	#home div.layer header div.container a img {
		width:auto;
		height:45px;
	}
	#home div.layer header div.container div.inner {
		position:absolute;
		right:1px;
		bottom:-19.5px;
	}
	#home div.layer header div.container div.inner h2 {
		font-family:'Franks';
		text-align:right;
		color:rgb(255,25,55);
		font-size:20px;
		font-weight:400;
		-webkit-transition:color 0.25s linear;
		-moz-transition:color 0.25s linear;
		-o-transition:color 0.25s linear;
		-ms-transition:color 0.25s linear;
		transition:color 0.25s linear;
	}
/* CONTACT */
	#contact div.layer {
		background-image:url("../../img/blakesballoons.com.au_background_image.jpg");
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		-ms-background-size:cover;
		background-size:cover;
		background-position:50% 50%;
		padding-top:74px;
		min-height:calc(100vh - 667px);
  	display:flex;
  	flex-flow:column;
	}
	#contact div.layer div.container {
		width:100%;
		height:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		text-align:center;
		padding:15px;
		padding-top:30px;
		padding-bottom:30px;
  	display:flex;
  	flex-flow:column;
		flex:1;
	}
	#contact div.layer div.container div.wrapper {
		width:100%;
	}
	#contact div.layer div.container div.wrapper:nth-child(1) {
		margin-bottom:15px;
	}
	#contact div.layer div.container div.wrapper div.box {
		width:100%;
		display:inline-block;
		vertical-align:middle;
		text-align:center;
	}
	#contact div.layer div.container div.wrapper div.box p:nth-child(1) {
		font-family:'Franks';
		color:rgb(55,55,55);
		font-size:30px;
		margin:0;
		margin-top:20px;
		font-weight:400;
		text-align:center;
	}
	#contact div.layer div.container div.wrapper div.box p:nth-child(1) span {
		font-family:'Franks';
		color:rgb(55,55,55);
		font-size:25px;
		margin:0;
		font-weight:400;
		text-align:center;
		font-style:italic;
	}
	#contact div.layer div.container div.wrapper div.box p:nth-child(2) {
		font-family:'Franks';
		color:rgb(255,25,55);
		font-size:75px;
		margin-top:35px;
		margin-bottom:15px;
		font-weight:400;
		text-align:center;
		text-shadow:rgb(255,255,255) 0px 0px 5px,
		rgb(255,255,255) 0px 0px 5px,
		rgb(255,255,255) 0px 0px 5px,
		rgb(255,255,255) 0px 0px 5px,
		rgb(255,255,255) 0px 0px 5px,
		rgb(255,255,255) 0px 0px 5px,
		rgb(255,255,255) 0px 0px 5px,
		rgb(255,255,255) 0px 0px 5px,
		rgb(255,255,255) 0px 0px 5px,
		rgb(255,255,255) 0px 0px 5px;
	}
	#contact div.layer div.container div.wrapper div.box p:nth-child(3) {
		display:inline-block;
		font-family:'Franks'; 
		font-size:20px;
		margin:0;
		margin-bottom:20px;
		padding:15px;
		font-weight:400;
		color:rgb(55,55,55);
		text-align:center;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner {
		width:100%;
		display:inline-block;
		vertical-align:middle;
		padding:5px;
		font-size:0;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner input {
		margin-bottom:5px;
		padding:15px;
		width:100%;
		font-family:'Franks'; 
		font-size:17.5px;
		font-weight:400;
		background-color:rgb(255,255,255);
		color:rgb(55,55,55);
		text-decoration:none; 
		display:inline-block;
		border:3px solid rgb(255,25,55);
		-webkit-border-radius:50px;
		-moz-border-radius:50px;
		-o-border-radius:50px;
		-ms-border-radius:50px;
		border-radius:50px;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(13) {
		display:none;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner input.bump {
		margin-bottom:5px;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner input.bump2 {
		margin-bottom:15px;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(6),
	#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(7) {
		width:50%;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner textarea {
		height:175px;
		margin-bottom:5px;
		padding:15px;
		width:100%;
		font-family:'Franks'; 
		font-size:17.5px;
		font-weight:400;
		background-color:rgb(255,255,255);
		color:rgb(55,55,55);
		text-decoration:none; 
		display:inline-block;
		border:3px solid rgb(255,25,55);
		-webkit-border-radius:25px;
		-moz-border-radius:25px;
		-o-border-radius:25px;
		-ms-border-radius:25px;
		border-radius:25px;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner textarea.bump {
		margin-bottom:5px;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner textarea.bump2 {
		margin-bottom:15px;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner input::-webkit-input-placeholder {
    color:rgb(110,110,110);
	}
	#contact div.layer div.container div.wrapper div.box form div.inner input:-moz-placeholder {
    color:rgb(110,110,110);
    opacity:1;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner input::-moz-placeholder {
    color:rgb(110,110,110);
    opacity:1;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner input:-ms-input-placeholder {
    color:rgb(110,110,110);
	}
	#contact div.layer div.container div.wrapper div.box form div.inner textarea::-webkit-input-placeholder {
    color:rgb(110,110,110);
	}
	#contact div.layer div.container div.wrapper div.box form div.inner textarea:-moz-placeholder {
    color:rgb(110,110,110);
    opacity:1;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner textarea::-moz-placeholder {
    color:rgb(110,110,110);
    opacity:1;
	}
	#contact div.layer div.container div.wrapper div.box form div.inner textarea:-ms-input-placeholder {
    color:rgb(110,110,110);
	}
	#contact div.layer div.container div.wrapper div.box form input.submit {
		cursor:pointer;
		padding:15px;
		padding-left:25px;
		padding-right:25px;
		font-family:'Franks'; 
		font-size:20px;
		font-weight:400;
		margin-top:15px;
		margin-bottom:15px;
		background-color:rgb(255,255,255);
		color:rgb(55,55,55);
		text-decoration:none; 
		display:inline-block;
		border:3px solid rgb(255,25,55);
		-webkit-border-radius:50px;
		-moz-border-radius:50px;
		-o-border-radius:50px;
		-ms-border-radius:50px;
		border-radius:50px;
		-webkit-transition:background-color 0.25s linear, color 0.25s linear;
		-moz-transition:background-color 0.25s linear, color 0.25s linear;
		-o-transition:background-color 0.25s linear, color 0.25s linear;
		-ms-transition:background-color 0.25s linear, color 0.25s linear;
		transition:background-color 0.25s linear, color 0.25s linear;
	}
	#contact div.layer div.container div.wrapper div.box form input.submit:hover {
		background-color:rgb(55,55,55);
		color:rgb(255,255,255);
	}
	html.can-touch #contact div.layer div.container div.wrapper div.box form input.submit:hover {
		background-color:rgb(255,255,255);
		color:rgb(55,55,55);
	}
	#contact div.layer div.container div.wrapper div.box div.thank-you-box {
		width:100%;
		display:table;
		padding:5px;
		min-height:300px;
	}
	#contact div.layer div.container div.wrapper div.box div.thank-you-box div {
		width:100%;
		display:table-cell;
		vertical-align:middle;
		background-color:rgb(255,255,255);
		border:3px solid rgb(255,25,55);
		-webkit-border-radius:25px;
		-moz-border-radius:25px;
		-o-border-radius:25px;
		-ms-border-radius:25px;
		border-radius:25px;
	}
	#contact div.layer div.container div.wrapper div.box div.thank-you-box p.thank-you:nth-child(1) {
		display:block;
		font-family:'Franks'; 
		font-size:30px;
		margin-bottom:40px;
		font-weight:400;
		color:rgb(255,25,55);
	}
	#contact div.layer div.container div.wrapper div.box div.thank-you-box p.thank-you {
		display:block;
		font-family:'Franks'; 
		font-size:20px;
		font-weight:400;
		color:rgb(110,110,110);
		font-style:normal;
	}
/* FOOTER */
	#footer footer div.layer {
		background-color:rgb(55,55,55);
	}
	#footer footer div.layer div.container {
		width:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		text-align:center;
		padding:0;
		padding-top:2.5vmin;
		padding-bottom:2.5vmin;
	}
	#footer footer div.layer div.container div.wrapper {
		display:inline-block;
		width:100%;
	}
	#footer footer div.layer div.container div.wrapper div.box {
		display:inline-block;
		width:100%;
	}
	#footer footer div.layer div.container div.wrapper div.box img {
		padding:35px;
		height:auto;
		width:100%;
		max-width:500px;	
	}
	#footer footer div.layer div.container div.wrapper div.box p:nth-child(1) {
		font-family:'Franks';
		color:rgb(255,255,255);
		font-size:35px;
		margin-bottom:10px;
		font-weight:400;
	}
	#footer footer div.layer div.container div.wrapper div.box p {
		font-family:'Franks';
		color:rgb(255,255,255);
		font-size:18px;
		font-weight:400;
	}
	#footer footer div.layer div.container div.wrapper div.box p span {
		font-family:'Bebas';
		font-size:14px;
		padding-right:2px;
	}
	#footer footer div.layer div.container div.wrapper div.box div.inner {
		padding:25px;	
		width:33.33%;
		display:inline-block;
		max-width:125px;
	}
	#footer footer div.layer div.container div.wrapper div.box div.inner img {
		padding:0;
		height:auto;
		width:100%;
		max-width:125px;
		border:3px solid rgb(255,25,55);
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		-o-border-radius:50%;
		-ms-border-radius:50%;
		border-radius:50%;
		-webkit-transition:transform 0.25s linear;
		-moz-transition:transform 0.25s linear;
		-o-transition:transform 0.25s linear;
		-ms-transition:transform 0.25s linear;
		transition:transform 0.25s linear;
	}
	#footer footer div.layer div.container div.wrapper div.box div.inner img:hover {
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);	
	}
	html.can-touch #footer footer div.layer div.container div.wrapper div.box div.inner img:hover {
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);	
	}
	#footer footer div.layer div.container div.wrapper div.box:nth-child(4) p span {
		font-family:'Franks';
		color:rgb(175,175,175);
		font-size:20px;
		font-weight:400;
		padding-right:2px;
	}
	#footer footer div.layer div.container div.wrapper div.box:nth-child(4) p {
		font-family:'Franks';
		color:rgb(175,175,175);
		font-size:12.5px;
		font-weight:400;
	}
	#footer footer a div.layer.powered-by {
		background-color:rgb(255,255,255);
	}
	#footer footer a div.layer div.container.powered-by {
		width:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		text-align:center;
		padding:15px;
	}
	#footer footer a div.layer div.container.powered-by p {
		font-family:'Quicksand';
		color:rgb(25,27,29);
		font-size:15px;
		margin-top:0;
		margin-bottom:5px;
	}
	#footer footer a div.layer div.container.powered-by img {
		width:30px;
		height:auto;
		margin:0;
	}
	#footer footer a div.layer div.container.powered-by p:nth-child(3) {
		display:inline;
		font-family:'Bebas';
		color:rgb(25,27,29);
		font-size:15px;
		font-weight:800;
		letter-spacing:3.75px;
		padding-left:3.75px;
	}
	#footer footer a div.layer div.container.powered-by p:nth-child(4) {
		font-family:'Quicksand';
		color:rgb(25,27,29);
		font-size:12.5px;
		margin-top:15px;
		margin-bottom:0;
	}
/* MEDIA QUERIES */
	@media only screen and (min-width:380px) {
		#home div.layer header div.container div.inner {
			bottom:-15px;
		}
		#home div.layer header div.container div.inner h2 {
			font-size:17.5px;
		}
		#home div.layer header div.container div.inner h2 br {
			display:none;
		}
	}
	@media only screen and (min-width:500px) {
		#footer footer div.layer div.container div.wrapper.desktop-display {
			display:block;
		}
		#footer footer div.layer div.container div.wrapper.mobile-display {
			display:none;
		}
		#contact div.layer div.container div.wrapper div.box p br {
			display:none;
		}
	}
	@media only screen and (min-width:650px) {
		#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(5),
		#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(9),
		#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(10),
		#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(11),
		#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(12) {
		width:50%;
		}
		#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(1),
		#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(2),
		#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(3) {
		width:33.33%;
		}
		#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(6),
		#contact div.layer div.container div.wrapper div.box form div.inner input:nth-child(7) {
		width:25%;
		}
	}
	